################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Nordril.Collections/bin/Debug
/Nordril.Collections/obj
/Nordril.Collections/bin/Release
