################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Nordril.Collections/bin/Debug
/Nordril.Collections/obj
/Nordril.Collections/bin/Release
/Nordril.Collections.Tests/bin/Release/netcoreapp2.2
/Nordril.Collections.Tests/obj
/Nordril.Collections.Tests/bin/Debug/netcoreapp2.2
